.DS_Store
.DS_Store
.DS_Store
.DS_Store
Workshops/.ipynb_checkpoints/02_Введение_в_Pandas_Cars-checkpoint.ipynb
Workshops/.ipynb_checkpoints/03_Pandas_визуализация-checkpoint.ipynb
Workshops/.ipynb_checkpoints/03_Pandas_визуализация-checkpoint.ipynb
Workshops/.ipynb_checkpoints/03_Pandas_визуализация-checkpoint.ipynb
Workshops/pairplot.png
Workshops/.ipynb_checkpoints/pairplot-checkpoint.png
Workshops/.ipynb_checkpoints/03_Pandas_визуализация-checkpoint.ipynb
Workshops/.ipynb_checkpoints/cars-checkpoint.csv
Workshops/.ipynb_checkpoints/03_Pandas_визуализация-checkpoint.ipynb
Untitled.ipynb
anaconda_projects/db/project_filebrowser.db
.ipynb_checkpoints/Untitled-checkpoint.ipynb
Workshops/.ipynb_checkpoints/03_Pandas_визуализация-checkpoint.ipynb
.virtual_documents/Workshops/03_Pandas_визуализация.ipynb
MLtextbook/.ipynb_checkpoints/Глава_3_Линейная_Регрессия_Синтетические_данные-checkpoint.ipynb
Workshops/.ipynb_checkpoints/04_SKLearnBasics-checkpoint.ipynb
MLtextbook/.ipynb_checkpoints/Глава_3_Линейная_Регрессия_Cars-checkpoint.ipynb
addition/.ipynb_checkpoints/lab7 - Car Moldova pt 2_LAST-checkpoint.ipynb
addition/.ipynb_checkpoints/Car Moldova pt3 LAST-checkpoint.ipynb
Workshops/.ipynb_checkpoints/03_Pandas_визуализация.ipynb
Workshops/.ipynb_checkpoints/05_HF_intro-checkpoint.ipynb
Workshops/сгенерированная_музыка.wav
Workshops/authGigaChat.txt
Workshops/.ipynb_checkpoints/authGigaChat-checkpoint.txt
Workshops/.ipynb_checkpoints/06_PromptEng-checkpoint.ipynb
Workshops/.ipynb_checkpoints/01_lab_Numpy-checkpoint.ipynb
Workshops/.ipynb_checkpoints/01_lab_NumPy_solution-checkpoint.ipynb
Workshops/raw.githubusercontent.com/MVRonkin/BasicDataAnalysisCourse/refs/heads/main/Workshops/cars.csv
